<span>Waiter shifts</span>
<br><br>
    <span><a href="/waiter/" >&larr; <small class="blue-link">Dashboard</small></a></span>
<br><br>
{{#each shifts}}
<div class="roster {{rowStyle}}">
    <div class="roster-head">
        {{weekday}}
    </div>
    <ul>
        {{#each waiters}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
</div>
{{/each}}

{{!-- 
<table>
    <tr>
        <td><b>Shifts</b></td>
        <td><b>Waiters</b></td>
    </tr>
    {{#each shifts}}
    <tr>
        <td>{{weekday}}</td>
        <td >{{waitersOnDuty}}</td>
    </tr>
    {{/each}}
</table> --}}